html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

.editor-container {
  display: flex;
  flex-grow: 1;
}

.monaco-editor {
  flex-grow: 1;
}
